*{
    margin: 0;
}

.ofertas{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.container{
    height: 700px;
    margin-top: 60px;
}
.m1{
    text-align: center;
    margin-top: 60px;
    
}